$blue-dark: #11111d;
$gray-hover: #4a536b;
$white: #ffffff;

:root[data-theme="dark"] {
  --aside-bg: #{$blue-dark};
  --aside-color: #{$white};
  --aside-bg-hover: #{$gray-hover};
}

:root[data-theme="dark"] {
  --background-color: #2b3e51;
}
