// @import './global/themes';
@import "./global/colors";

body {
  overflow: hidden;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --header-height: 60px;
}

li {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
